*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.top-header {
  background-color:#0a2342;
  color: white;
  padding: 0.625rem 0;
}
.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  
}

.top-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-info span {
  margin-right: 1.875rem;
  font-size: 12px;
}

.socialmedia-icons a {
  margin-left: 0.75rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.contact-info i{
    color: #40A5A2;
}
.navbar{
    color: white;
}
.navbar-content ul{
    display: flex;
    list-style: none;
    padding-left: 26.875rem;
    font-size: 0.9375rem;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar-content li{
    padding: 1.25rem;
}
.navbar-content a{
    text-decoration: none;
    color: black;
}
.navbar-content a:hover{
  text-decoration: underline;
}
.container{
  max-width:75rem;
  width:100%;
  margin-inline:auto;
  padding-inline:1rem;          
}

.content{
  position:relative;
  height:100vh;                  
  isolation:isolate;             
}

.content::before{
  content:"";
  position:absolute;
  inset:0;
  background:url("images/Bg-image.jpg") center / cover no-repeat;
  z-index:-2;
}

.content::after{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.55);    
  z-index:-1;
}

.section-content{
  height:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:#fff;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  
}

/* left column */
.left{ 
  max-width:37.5rem;
  margin-top: 10.625rem;
  width: 100%;
  margin-top: 6rem;
}
.left h1{ 
  font-size:3rem;
  margin-bottom:1.25rem;
}
.left p { 
  font-size:1.1rem; 
  line-height:1.6; 
  margin-bottom:1.25rem; 
  max-width:27.5rem; 
}

.btn{
  padding:0.5rem 1.7rem;
  font-size:0.8rem;
  background:#2ed7c3;
  border:none; border-radius:25px;
  color:#fff; cursor:pointer;
}
.btn:hover{ 
  box-shadow:0 0 0.625rem #fff; 
}

/* form card */
.form-box{
  background:#fff; color:#333;
  border-radius:0.9375rem;
  padding:2rem;
  width:16.5625rem;
  box-shadow:0 0 1.25rem rgba(0,0,0,.2);
  margin-top: 7.5rem;
  height: 21.875rem;
  width: 100%;
  max-width: 265px;
  
  height: auto;
}
.form-box h2{ 
  margin-bottom:1.25rem; 
  font-size:1.3rem; 
}
.form-box input[type="text"],
.form-box input[type="email"]{
  width:100%; 
  padding:0.45rem;
  margin-bottom:1rem;
  border:1px solid #ccc; 
  border-radius:0.625rem; 
  outline:0;
}
label{
  font-size: .8rem;
  
}
.checkbox{
  display:block; 
  font-size:.9rem; 
  margin-bottom:1rem;
}
.checkbox a{ 
  color:#007bff; 
}
.submit-btn{
  background:#0a2342; 
  color:#fff; 
  border:none;
  padding:0.5rem 1.2rem;
  font-size:.8rem; 
  border-radius:1.25rem; 
  cursor:pointer;
  margin-top: 0.9375rem;
}
/* last section */
.last-section {
  background-color: #f9f9f9;
  padding: 3.75rem 0;
  text-align: center;
}

.services-grid {
  display: flex;
  gap: 1.875rem;
  justify-content: center;
  flex-wrap: wrap;
}

.service-box {
  background-color: #fff;
  padding: 1.875rem 1.26rem;
  border-radius: 0.9375rem;
  box-shadow: 0 0 0.9375rem rgba(0,0,0,0.1);
  max-width: 20.625rem;
  flex: 1;
  transition: transform 0.3s ease;
}

.service-box i {
  font-size: 2.5rem;
  color: #2ed7c3;
  margin-bottom: 0.9375rem;
}

.service-box h3 {
  font-size: 1.3rem;
  margin-bottom: 0.9375rem;
}

.service-box p {
  font-size: 1rem;
  color: #555;
}

.service-box:hover {
  transform: translateY(-0.3125rem);
}
/* Responsive */
@media (max-width: 992px) {
  .navbar-content ul {
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }

  .navbar-content li {
    padding: 0.8rem 1rem;
  }
}
